<tr>
  <td>
    <h1 style="font-family: 'droid sans', sans-serif;margin-left:29px;font-weight:bold;font-size:26px;color:#da7e20;margin-top:20px;margin-bottom:5px;">
      Welcome to sidekiq emails portal
    </h1>
  </td>
</tr>
<tr>
  <td colspan='3'>
    <p style="width:542px;margin-top:4px;margin-left:29px;margin-right:29px;line-height:1.5;color:#9c9c9c;">
      <h4>Hii <%= @name %></h4>

      <h4>Your Email address is <%= @email %></h4>

      <hp>This email is send by sidekiq job after 15 minute.</p>
    </p>
  </td>
</tr>
